:root {
  --color1: #FFFCEB;
  --color2: #FFF7D1;
  --color3: #FFEE9D;
  --color4: #FFE568;
  --color5: #FFD300;  
  --color6: #daa520;
  --white-soft: #f8f8f8;
  --black-soft: #222222;
  --grey-soft: #979797;
  --purple-royal: #222097;
  --dividier-light: rgba(235, 235, 235, 0.64);
  --divider-medium: rgba(84, 84, 84, 0.48);
  --divider-dark: rgba(60, 60, 60, 0.29);
  --text-shadow-small: rgba(0, 0, 0, 0.431) 1px 1px 10px;
  --text-shadow-medium: rgba(0, 0, 0, 0.431) 2px 2px 20px;
  --text-shadow-large: rgba(0, 0, 0, 0.431) 4px 4px 40px;
  --box-shadow-small: rgba(0, 0, 0, 0.275) 1px 1px 10px;
  --box-shadow-medium: rgba(0, 0, 0, 0.275) 2px 2px 20px;
  --box-shadow-large: rgba(0, 0, 0, 0.275) 4px 4px 40px;
  --border-bold-black: 2px solid #222222;
  --border-bold-white: 2px solid #f8f8f8;
  --transition-default: 
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out,
      transform 0.3s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 300px;
  width: 100%;
  color: var(--black-soft);
  background-color: var(--color4);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
