/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color1: #FFD300;
  --color2: #FFE568;
  --color3: #FFEE9D;
  --color4: #FFF7D1;
  --color5: #FFFCEB;
  --white-soft: #f8f8f8;
  --black-soft: #222222;
  --grey-soft: #949494;
  --purple-royal: #222097;
  --dividier-light: rgba(235, 235, 235, 0.64);
  --divider-medium: rgba(84, 84, 84, 0.48);
  --divider-dark: rgba(60, 60, 60, 0.29);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--black-soft);
  background: var(--color2);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
