:root {
  --color1: #fffceb;
  --color2: #fff7d1;
  --color3: #ffee9d;
  --color4: #ffe568;
  --color5: #ffd300;
  --color6: #daa520;
  --white-soft: #f8f8f8;
  --black-soft: #222222;
  --grey-soft: #757575;
  --purple-royal: #222097;
  --dividier-light: rgba(235, 235, 235, 0.64);
  --divider-medium: rgba(84, 84, 84, 0.48);
  --divider-dark: rgba(60, 60, 60, 0.29);
  --text-shadow-small: rgba(0, 0, 0, 0.431) 1px 1px 10px;
  --text-shadow-medium: rgba(0, 0, 0, 0.431) 2px 2px 20px;
  --text-shadow-large: rgba(0, 0, 0, 0.431) 4px 4px 40px;
  --box-shadow-small: rgba(0, 0, 0, 0.275) 1px 1px 10px;
  --box-shadow-medium: rgba(0, 0, 0, 0.275) 2px 2px 20px;
  --box-shadow-large: rgba(0, 0, 0, 0.275) 4px 4px 40px;
  --border-black: 1px solid #222222;
  --border-white: 1px solid #222222;
  --border-bold-black: 2px solid #222222;
  --border-bold-white: 2px solid #f8f8f8;
  --transition-default:
    color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@font-face {
  font-family: 'RoyaleSmith';
  src: url('@/assets/fonts/RoyaleSmithDemoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  min-width: 300px;
  width: 100%;
  height: 100%;
  color: var(--black-soft);
  background-color: var(--white-soft);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
