@import './base.css';
@import 'tailwindcss';
@import 'flowbite/src/themes/default';

#app {
  min-width: 344px;
}

.Toastify__toast {
  background-color: #333 !important;
  color: var(--white-soft) !important;
}
